.features-general-mobile-container{
  @extend %flex-column;
  justify-content: space-between;
  & .why-zod{
    @extend %why-zod;
    margin-top: 45px;
    & p{
      font-family: $specialFontFamily;
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  & .price-comparison{
    @extend %price-comparison;
    margin-top: 45px;
    & p{
      font-family: $commonFontFamily;
      font-size: 30px;
    }
  }
}
.features-general-pc-container{
  @extend %flex-column;
  margin-top: -60%;
  & .why-zod{
    @extend %why-zod;
    margin-bottom: 22px;
    & p{
      font-family: $specialFontFamily;
      font-size: 4vw;
      margin-bottom: 28px;
    }
  }
  & .price-comparison{
    @extend %price-comparison;
    margin: 50px 0 40px 0;
    & p{
      font-family: $specialFontFamily;
      font-size: 3.12vw;
    }
  }
  .horizontal-feature-layout{
    @extend %flex-row;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    width: 100%;
    align-content: center;
    & .feature-content-container{
      @extend %feature-content-container;
      width: 29%;
      min-height: 230px;
      margin: 0 2% 40px 2%;
    }
    & img{
      width: 100px;
      height: 88px;
      margin-top: 15px;
    }
    & p{
      width: 80%;
      margin-top: 10px;
      font-size: 1.53vw;
      font-weight: 100;
    }
  }
}
.feature-video-wrapper{
  width: 100%;
  margin-top: 80px;
  & video{
    padding-top: 50px;
    position: relative;
    width: 100%;
    z-index: 0;
  }
}

.vertical-feature-layout{
  @extend %flex-column;
  background-image: url("../assets/img/feature-mobile-bg.png");
  background-position: bottom;
  justify-content: space-between;
  padding-left: $smallPadding;
  padding-right: $smallPadding;
  position: relative;
  width: 100%;
  padding: 0 30px;
  z-index: 1;
  & .feature-content-container{
    @extend %feature-content-container;
    margin-bottom: 20px;
    padding: 20px 10px;
    width: 330px;
    height: 152px;
  }
  & img{
    width: 80px;
    height: 71px;
    margin-top: 30px;
  }
  & p{
    width: 100%;
    font-family: $commonFontFamily;
    font-size: 24px;
    font-weight: 100;
  }
  
}

.mobile-layout{
  width: 100%;
  & .embla {
    overflow: hidden;
  }
  & .embla__container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  & .embla__slide {
    position: relative;
    flex: 10 10 100%;
  }
  & .zodTv-data-container{
    min-width: 310px;
    height: 509px;
    margin: 30px 27px 30px 28px;
    padding: 43px 20px 47px;
    & h1{
      font-size: 32px
    }
    & p {
      font-size: 30px;
      font-family: $specialFontFamily;
    }
    & .price{
      line-height: 60px;
      font-size: 54px;
      font-family: $commonFontFamily;
      font-weight: 100;
      margin-top: 19px;
    }
    & .services-detail-container{
      width: 85%;
      margin-left: 17px;
      al
      & .service-detail{
        & .unit-desc{
          margin-left: 15px;
          width: 79px;
          height: 30px;
          & p{
            font-size: 20px;
            font-family: $commonFontFamily;
          }
          
        }
        & .unit-price{
          background: $themeBgColor;
          width: 139px;
          height: 41px;
          & .biggerStr{
            font-size: 26px;
            font-family: $specialFontFamily;
            line-height: 50px;
          }
          & .remainStr{
            font-size: 20px;
            font-family: $specialFontFamily;
            line-height: 50px;
          }
        }
        
      }
      
    }
  }
  & .competitor-data-container{
    min-width: 310px;
    padding: 40px;
    height: 407px;
    & .examples{
      font-family: $specialFontFamily;
      > p{
        font-size: 24px;
      }
    }
    & h1{
      font-size: 32px
    }
    & p {
      font-size: 21px
    }
    & .price{
      font-size: 45px;
      font-family: $commonFontFamily;
      font-weight: lighter;
    }
    & .services-detail-container{
      margin-left: 20px;
      & .service-detail{
        & .unit-desc{
          margin-left: 15px;
          width: 79px;
          height: 30px;
          & p{
            font-size: 24px;
            font-family: $commonFontFamily;
          }
          
        }
        & .unit-price{
          width: 139px;
          height: 41px;
          background:$darkBlueBgColor;
          & .biggerStr{
            font-size: 26px;
            font-family: $specialFontFamily;
            line-height: 50px;
          }
          & .remainStr{
            font-size: 20px;
            font-family: $specialFontFamily;
            line-height: 50px;
          }
        }
        
      }
      
    }
  }
}
.pc-layout{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-top: 10px;
  padding: 0 3%;
  & .zodTv-data-container{
    max-width: 450px;
    width: 34%;
    padding: 6% $smallPadding $smallPadding $smallPadding;
    & h1{
      font-size: 36px
    }
    & p {
      font-size: 30px;
      font-family: $specialFontFamily;
    }
    & .price{
      margin-top: 40px;
      font-size: 3.4vw;
      font-family: $commonFontFamily;
    }
    & .service-detail{
      & .unit-price{
        width: 58%;
        height: 48px;
        background: $themeBgColor;
        & .biggerStr{
          font-size: 2.1vw;
        }
        & .remainStr{
          font-size: 1.6vw;
        }
      }
      & .unit-desc{
        width: 20%;
        height: 38px;
        > p{
          font-size: 1.2vw;
        }
      }
    }
  }
  & .competitor-data-container{
    width: 31%;
    max-width: 400px;
    min-width: 300px;
    & p{
      font-family: $specialFontFamily
    }
    & .price{
      font-family: $commonFontFamily
    }
    & .service-detail{
      & .unit-price{
        width: 58%;
        height: 48px;
        background: $darkBlueBgColor;
        & .biggerStr{
          font-size: 2.1vw;
        }
        & .remainStr{
          font-size: 1.6vw;
        }
      }
      & .unit-desc{
        width: 20%;
        height: 38px;
        > p{
          font-size: 1.2vw;
        }
      }
    }
  }
}
.zodTv-data-container{
  @extend %flex-column;
  min-width: 300px;
  justify-content: space-between;
  border: 2px solid #9F6DFD;
  border-radius: $containerBorderRadius;
  color: $textColor;
  padding:$smallPadding;
  background-color: #1F1F24;
  
  & .price{
    font-family: $commonFontFamily;
    color: #9F6DFD;
    font-weight: lighter
  }
  & img{
    max-width: 180px;
    max-height: 30px;
  }
  & .purchase-button-container{
    width: 100%;
    height: 100%;
    max-height: 60px;
    & .purchase-button{
      width: 100%;
      height: 100%;
      border-radius: $buttonBorderRadius;
      background: $themeBgColor;
      color: $textColor;
      box-shadow: $boxShadow #B791FF40;
      border: none;
      font-size: 26px;
      & button{
        height: 60px;
      }
      &:hover{
        @extend %purple-button-hover;
      }
      &:active{
        @extend %purple-button-hover;
      }
    }
  }
}
.competitor-data-container{
  @extend %flex-column;
  padding: 40px;
  justify-content: space-between;
  border: 2px solid #446289;
  border-radius: $containerBorderRadius;
  color: $textColor;
  text-align: center;
  margin: $smallPadding 0 $smallPadding 0;
  background-color: #2D3038;
 
  & h1{
    font-size: 1.9vw;
  }
  & p {
    font-size: 1.6vw;
  }
  & .price{
    font-size: 3.4vw;
    color: #446289;
    font-family: $commonFontFamily;
    font-weight: lighter
  }
}
.services-detail-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .service-detail{
    width: 100%;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    & .unit-price{
      @extend %flex-row-center;
      font-family: $specialFontFamily;
      height: 50px;
      transform: skewX(-30deg);
      align-items: baseline;
      & .biggerStr{
        font-size: 2.8vw;
        transform: skewX(30deg);
        line-height: 50px;
      }
      & .remainStr{
        font-size: 1.5vw;
        transform: skewX(30deg);
        line-height: 50px;
      }
    }
    & .unit-desc{
      @extend %flex-row-center;
      align-items: baseline;
      max-width: 107px;
      min-width: 94px;
      height: 38px;
      transform: skewX(-30deg);
      background:#4B4B4B;
      & p{
        transform: skewX(30deg);
        font-size: 1.3vw;
        line-height: 38px;
      }
    }
  }
}
@media only screen and (max-width: 1150px) {
  .feature-video-wrapper{
    margin-top: 30px;
    
  }

  .features-general-pc-container{
    & .why-zod{
      margin-bottom: 16px;
      & p{
        font-size: 40px;
      }
    }
    & .horizontal-feature-layout{
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      & .feature-content-container{
        padding: 10px 0;
        width: 40%;
        min-height: 130px;
        margin: 0 2% 20px 2%;
        & p{
          font-size: 16px;
        }
      }
    }
    & .price-comparison{
      margin: 60px 0 10px 0;
      & p{
        font-size: 40px;
      }
    }
  }
  .pc-layout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 10px;
    padding: 0 3%;
    align-items: center;
    & .zodTv-data-container{
      width: 440px;
      & .price{
        font-size: 60px;
      }
      & .purchase-button-container{
        margin-bottom: 40px;
      }
      & .service-detail{
        width: 330px;
        justify-content: space-evenly;
        & .unit-price{
          width: 192px;
          & .biggerStr{
            font-size: 36px;
          }
          & .remainStr{
            font-size: 24px;
          }
        }
        & .unit-desc{
          width: 135px;
          > p{
            font-size: 20px;
          }
        }
      }
    }
    & .competitor-data-container{
      width: 400px;
      & h1{
        font-size: 36px;
      }
      & .examples{
        & p{
          font-size: 28px;
        }
      }
      & .price{
        font-size: 60px;
      }
      & .service-detail{
        width: 308px;
        & .unit-price{
          width: 184px;
          height: 48px;
          background: $darkBlueBgColor;
          & .biggerStr{
            font-size: 36px;
          }
          & .remainStr{
            font-size: 24px;
          }
        }
        & .unit-desc{
          width: 20%;
          height: 38px;
          > p{
            font-size: 20px;
          }
        }
      }
    }
  }
}

