.referral-content-mobile-layout{
  @extend %referral-content-layout;
  margin: 40px 30px;
  & .referral-title{
    @extend %referral-title;
    margin-top: 37px;
    margin-bottom: 26px;
    padding: 0 30px;
    & p {
      font-size: 30px;
      line-height: 1;
    }
  }
  & .steps-container{
    @extend %steps-container;
    & .step-container{
      width: 100%;
      margin-bottom: 36px;
      @extend %flex-column;
      justify-content: center;
      & .step-number-container{
        @extend %step-number-container;
      }
      & .step-image-container{
        @extend %step-image-container;
        margin-top: 10px;
        & img{
          height: 110px;
          width: 120px;
        }
      }
      & .step-description-container{
        @extend %step-description-container;
        padding: 0 30px;
        margin-top: 10px;
      }
    }
  }
}

.referral-content-layout{
  @extend %referral-content-layout;
  margin: 80px 0;
  padding: 47px 10%;
  & .referral-title{
    @extend %referral-title;
    & p{
      font-size: 3.1vw;
      font-weight: bold;
    }
  }
  & .steps-container{
    @extend %steps-container;
    & .step-numbers-container{
      @extend %flex-row;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
      & .step-number-container{
        @extend %step-number-container;
      }
    }
    & .step-images-container{
      @extend %flex-row;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
      & .step-image-container{
        @extend %step-image-container;
        & img{
          width: 208px;
          height: 253;
        }
      }
    }
    & .step-descriptions-container{
      @extend %flex-row;
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;
      & .step-description-container{
        @extend %step-description-container;
        padding: 0 $smallPadding;
      }
    }
    & .ambassador-button-container{
      @extend %ambassador-button-container;
      & button{
        min-height: 60px;
        max-width: 300px;
        width: 50%;
      }
    }

  }
  
}


    // & .step-container{
    //   @extend %flex-column;
    //   justify-content: center;
    //   padding: 25px;
    //   width: 100%;
    //   height: 300px;
    //   border: 2px solid white;
    //   & .step-number{
    //     width: 40px;
    //     height: 40px;
    //     background-color: #9F6DFD;
    //     border-radius: 50px;
    //     color: $backgroundColor;
    //     font-size: 20px;
    //     align-content: center;
    //     & p{
    //       text-align: center;
    //       font-weight: bold;
    //     }
    //   }
    //   & .step-desc-container{
    //     text-align: center;
    //     padding: 0 $bigPadding;
    //     color: $textColor;
    //     font-size: 20px;
    //     font-weight: lighter;
    //   }
    // }