.referral-content-mobile-layout{
  @extend %referral-content-layout;
  margin: 40px 30px;
  & .referral-title{
    @extend %referral-title;
    margin-top: 37px;
    margin-bottom: 26px;
    padding: 0 30px;
    & p {
      font-size: 30px;
      line-height: 1;
    }
  }
  & .steps-container{
    @extend %steps-container;
    & .step-container{
      width: 100%;
      margin-bottom: 36px;
      @extend %flex-column;
      justify-content: center;
      & .step-number-container{
        @extend %step-number-container;
      }
      & .step-image-container{
        @extend %step-image-container;
        margin-top: 10px;
        & img{
          height: 110px;
          width: 120px;
        }
      }
      & .step-description-container{
        @extend %step-description-container;
        padding: 0 30px;
        margin-top: 10px;
      }
    }
  }
}

.referral-content-layout{
  @extend %referral-content-layout;
  margin: 80px 0;
  padding: 47px 10%;
  & .referral-title{
    @extend %referral-title;
    & p{
      font-size: 3.1vw;
      font-weight: bold;
    }
  }
  & .steps-container{
    @extend %steps-container;
    & .step-numbers-container{
      @extend %flex-row;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
      & .step-number-container{
        @extend %step-number-container;
      }
    }
    & .step-images-container{
      @extend %flex-row;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
      & .step-image-container{
        @extend %step-image-container;
        & img{
          width: 208px;
          height: 253;
        }
      }
    }
    & .step-descriptions-container{
      @extend %flex-row;
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;
      & .step-description-container{
        @extend %step-description-container;
        padding: 0 $smallPadding;
      }
    }
    & .ambassador-button-container{
      @extend %ambassador-button-container;
      & button{
        min-height: 60px;
        max-width: 300px;
        width: 50%;
      }
    }

  }
  
}

@media only screen and (max-width: $breakpoint-tablet){
  .referral-content-layout{
    margin: 60px auto 60px auto;
    padding: 47px 0;
    max-width: 655px;
    & .referral-title{
      & p{
        font-size: 40px;
      }
    }
    & .steps-container{
      & .step-numbers-container{
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
      }
      & .step-images-container{
        justify-content: space-between;
        margin-top: 10px;
        & .step-image-container{
          & img{
            width: 135px;
            height: 110px;
          }
        }
      }
      & .step-descriptions-container{
        margin-top: 5px;
        & .step-description-container{
          padding: 0 3%;
          > p{
            font-size: 16px;
            line-height: 1.2;
          }
        }
      }
      & .ambassador-button-container{
        & button{
          min-height: 50px;
          width: 300px;
          font-size: 22px;
        }
      }
    }
  }
}